nav,footer{
    color: #8A6113;
    background-color: #f9f8f0;
    font-family: 'Raleway', sans-serif;
}

.img-thumbnail{
    width: 225px;
    height: 125px;
    border: none;
}

.contacto{
    text-align: justify;
}

/* MAINS */
.main-contacto{
    font-family: 'Roboto', sans-serif;
}
main{
    color: #8A6113;
    text-align: center;
    margin: 30px;
}
.infoFooter{
    text-decoration: none;
    color: #8A6113;
}

.img-thumbnail{
    width: 225px;
    height: 125px;
    border: none;
}

.contacto{
    text-align: justify;
}

.buttonFixed{
    position: fixed;
    bottom: 20px;
    right: 20px; 
    padding: 10px 20px;
    border: 2px solid #1c7323;
    background-color:aliceblue;
}

/* botones login y registro */
.dropdown-item{
    color: rgb(194,151,71);
}

/* Container footer */
.container-1{
    text-align: center;
}

/* boton wp */
.bi-whatsapp{
    color: #1c7323;
}
/* LINKS DEL NAV Y NAV */
#botones-nav{
   color: rgb(138, 97, 19);
}
#items-nav{
    background-color: #efe7df;
}

/* cards */
/* cards del contacto */
.card-body-contact{
   color: rgb(194,151,71);
}
#link-gmail{
    color: rgb(194,151,71);
    text-decoration: none;
}