<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dress Code</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;1,300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
    <!-- JORGE DEBE ACOMODAR EL LOGO PARA CENTRARLO EN TAMANOS MENORES A LARGE -->
    <!-- NO SE OLVIDEN DE PONER CONTENIDO EN EL ALT -->
    <header> 
        <nav class="navbar navbar-expand-lg " >
            <a class="navbar-brand m-lg-4" href="#">
                <img class="img-fluid" width="200px" id="logo" src="../img/logo_color_blanco_perla.png">
            </a>
            <div class="container-fluid">
                <button class="navbar-toggler mt-3" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
    
                <div class="collapse navbar-collapse mt-5 row justify-content-end" id="navbarSupportedContent">
    
    
                    <div class="container">
                        <div class="row mt-1 justify-content-end ">
    
                            <form class="d-flex col-sm-3" role="search">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1"><img width="25px"
                                                src="../img/lupa.png" alt=""></span>
                                    </div>
                                    <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
                                </div>
                            </form>
    
                            <div class="dropdown col-sm-1 mt-1">
                                <a class="btn-close-white" href="#" role="button" id="dropdownMenuLink"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    <img width="25px" src=" ../img/perfil.png" alt="">
                                </a>
    
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <li><a class="dropdown-item" href="#">Iniciar Sesión</a>
                                    </li>
                                    <li><a  class="dropdown-item"
                                        href="./views/register.html">Registrarse</a></li>
                                </ul>
                            </div>
    
                            <div class="dropdown col-sm-1 mt-1">
                                <a class="nav-link" href="./views/shoppingDetail.html"><img width="25px" src=" ./img/carrito.png"
                                        alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    
    
        <ul class="nav justify-content-center mt-3 p-3 " id="items-nav">
            <li class="nav-item">
                <a id="botones-nav" class="nav-link" aria-current="page" href="#">INICIO</a>
            </li>
            <li class="nav-item">
                <a id="botones-nav" class="nav-link" href="./views/contact.html">CONTACTO</a>
            </li>
            <li class="nav-item">
                <a id="botones-nav" class="nav-link " href="./views/about.html">NOSOTROS</a>
            </li>
        </ul>
    </header>
    
    
   <!-- Aca comienzan las cards -->
     <!--AQUI COMIENZA EL ABOUT-->
     <div class="container-fluid"><br><br>
      <div class="row">
          <h1>SOBRE NOSOTROS</h1>
          <hr>
      </div>
      <div class="row">
          <h2>Somos un grupo de alumnos que decidio crear este proyecto sobre venta de ropa de fiestas. <br>
          Nos parece que no hay muchas paginas acerca de este tema y algo inovador. Nos intereso mucho abarcar algo asi
        ya que ninguna casa en tucuman posee pagina web. Sabemos de la importancia sobre tener el negocio subido a internet
      ya que sin esto el negocio no existe practicamente. Esperamos les haya gustado este proyecto y mejoraremos lo que sea necesario.</h2>
           
      </div>
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-12">
          <div class="card ">
            <img src="/imagenes_perfil/tomi.jpeg"  id="imagen-card" class="card-img-top rounded-circle img-fluid" alt="Foto de perfil">
            <div class="card-body">
              <h5 class="card-title">Nombre de la Persona</h5>
              <p class="card-text">Descripción o párrafo sobre la persona.</p>
              <div class="d-flex justify-content-around">
                <a target="_blank" href="https://mail.google.com/mail/u/0/?pli=1#inbox" class="btn btn-warning  rounded-circle">
                  <i class="fa-regular fa-envelope"></i>
                </a>
                <a target="_blank" href="https://www.linkedin.com/in/tomas-williams-neme-scheij-b60b8a1bb/" class="btn btn-warning rounded-circle">
                  <i class="fa-brands fa-linkedin"></i>
                </a>
                <a target="_blank" href="https://github.com/willytucuman" class="btn btn-warning rounded-circle">
                  <i class="fa-brands fa-github"></i>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-12">
          <div class="card ">
            <img src="/imagenes_perfil/jorge.jpg"  id="imagen-card" class="card-img-top rounded-circle img-fluid" alt="Foto de perfil">
            <div class="card-body">
              <h5 class="card-title">Nombre de la Persona</h5>
              <p class="card-text">Descripción o párrafo sobre la persona.</p>
              <div class="d-flex justify-content-around">
                <a target="_blank" href="https://mail.google.com/mail/u/0/?pli=1#inbox" class="btn btn-warning  rounded-circle">
                  <i class="fa-regular fa-envelope"></i>
                </a>
                <a target="_blank" href="https://www.linkedin.com/in/tomas-williams-neme-scheij-b60b8a1bb/" class="btn btn-warning rounded-circle">
                  <i class="fa-brands fa-linkedin"></i>
                </a>
                <a target="_blank" href="https://github.com/willytucuman" class="btn btn-warning rounded-circle">
                  <i class="fa-brands fa-github"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
          <div class="card ">
            <img src="/imagenes_perfil/georgina.jpeg"  id="imagen-card"  class="card-img-top rounded-circle img-fluid" alt="Foto de perfil">
            <div class="card-body">
              <h5 class="card-title">Nombre de la Persona</h5>
              <p class="card-text">Descripción o párrafo sobre la persona.</p>
              <div class="d-flex justify-content-around">
                <a target="_blank" href="https://mail.google.com/mail/u/0/?pli=1#inbox" class="btn btn-warning  rounded-circle">
                  <i class="fa-regular fa-envelope"></i>
                </a>
                <a target="_blank" href="https://www.linkedin.com/in/tomas-williams-neme-scheij-b60b8a1bb/" class="btn btn-warning rounded-circle">
                  <i class="fa-brands fa-linkedin"></i>
                </a>
                <a target="_blank" href="https://github.com/willytucuman" class="btn btn-warning rounded-circle">
                  <i class="fa-brands fa-github"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
          <div class="card ">
            <img src="/imagenes_perfil/ari.png"  id="imagen-card" class="card-img-top rounded-circle img-fluid" alt="Foto de perfil">
            <div class="card-body">
              <h5 class="card-title">Nombre de la Persona</h5>
              <p class="card-text">Descripción o párrafo sobre la persona.</p>
              <div class="d-flex justify-content-around">
                <a target="_blank" href="alderete.ariana.1406@gmail.com" class="btn btn-warning  rounded-circle">
                  <i class="fa-regular fa-envelope"></i>
                </a>
                <a target="_blank" href="linkedin.com/in/alejandra-ariana-alderete" class="btn btn-warning rounded-circle">
                  <i class="fa-brands fa-linkedin"></i>
                </a>
                <a target="_blank" href="https://github.com/ArianAlderete" class="btn btn-warning rounded-circle">
                  <i class="fa-brands fa-github"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
  </div>

   <!-- Aca terminan las cars -->
    <footer class="mt-3">
        <div class="container container-1 p-5"> 
            <div class="row">
                <div class="col">
                    <img src="../img/logo_color_blanco_perla.png" class="img-thumbnail" alt="logo de Dress code"> 
                </div>
                <div class="col d-block">
                    <p class="h5">Contacto</p>
                    <ul class="list-unstyled">
                        <li>
                            Horarios de atención:
                        </li>
                        <li>
                            Lun. a Sáb. 9hs a 13hs | 17hs a 21hs
                        </li>
                        <li>
                            Mail: dresscode@gmail.com
                        </li>
                        <li>
                            Tel. 381-111222
                        </li>
                    </ul>
                </div>
                <div class="col">
                    <p class="h5">Redes sociales</p>
                    <ul class="list-unstyled">
                        <li>
                            <i class="bi bi-facebook"></i>
                        </li>
                        <li>
                            <i class="bi bi-instagram"></i>
                        </li>
                        <li>
                            <i class="bi bi-tiktok"></i>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <hr>
        <div class="container container-1">
            <div class="row">
                <div class="col">
                    <p class="h5">Información</p>
                    <ul  class="list-unstyled"> <!--agregar link de error 404-->
                        <li><a href="../views/error404.html" class="infoFooter">Preguntas frecuentes</a></li>
                        <li>
                            <a href="../views/error404.html" class="infoFooter">Medios de pago</a>
                        </li>
                        <li>
                            <a href="../views/error404.html" class="infoFooter">Envíos a domicilio</a>
                        </li>
                        <li>
                            <a href="../views/error404.html" class="infoFooter">Retiros en sucursal</a>
                        </li>
                        <li>
                            <a href="../views/error404.html" class="infoFooter">Términos y condiciones</a>
                        </li>
                    </ul>
                </div>
            </div>
            <p> &copy; Dress code 2023 - Todos los derechos reservados</p>
        </div>
    </footer>

    <button class="buttonFixed"><i class="bi bi-whatsapp" ></i></button>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>